$range-thumb-color: $info !default;
$range-thumb-radius: 50% !default;
$range-thumb-height: 24px !default;
$range-thumb-width: 24px !default;
$range-thumb-shadow-size: 2px !default;
$range-thumb-shadow-blur: 2px !default;
$range-thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$range-thumb-border-width: 2px !default;
$range-thumb-border-color: $input-border-color !default;

$range-track-color: $gray-200 !default;
$range-track-width: 100% !default;
$range-track-height: 8px !default;
$range-track-shadow-size: 1px !default;
$range-track-shadow-blur: 1px !default;
$range-track-shadow-color: rgba(0, 0, 0, .2) !default;
$range-track-border-width: $input-border-width !default;
$range-track-border-color: $input-border-color !default;
$range-track-radius: 5px !default;

$range-contrast: 5% !default;
