@import "css/abstracts/variables/bootstrap";
@import "css/abstracts/variables/font-awesome";
@import "css/abstracts/variables/components/paper-header";


$sidebar-width: 15rem !default;
$sidebar-zindex: $zindex-fixed !default;
$sidebar-transition-duration: 0.5s !default;

$sidebar-brand-padding-x: 0.75rem !default;
$sidebar-brand-padding-y: 0.625rem !default;
$sidebar-brand-min-height: $paper-header-min-height !default;
$sidebar-brand-name-color: #fff !default;
$sidebar-brand-border-color: #404040 !default;

$sidebar-link-padding-x: 0.75rem !default;
$sidebar-link-padding-y: 0.5rem !default;
$sidebar-link-icon-margin-right: 0.375rem !default;
$sidebar-link-caret-size: 0.625rem !default;
$sidebar-link-active-color: $navbar-dark-active-color !default;
$sidebar-link-hover-bg-color: rgba($dark, 0.5) !default;
$sidebar-link-active-bg-color: $dark !default;
$sidebar-submenu-bg-color: darken($dark, 5%) !default;

$sidebar-first-hover-bg-color: $info !default;
$sidebar-first-link-active-bg-color: $info !default;

$sidebar-divider-color: #404040 !default;

// отступы слева
$sidebar-icon-lg-width: ($font-size-base * $fa-fonts-size-lg/1em * $fa-width-fw / 1em) !default;
$sidebar-l2-padding-left: $sidebar-link-padding-x + $sidebar-icon-lg-width + $sidebar-link-icon-margin-right !default;
