// tool items
$tool-item-margin-x: 0;
$tool-item-margin-y: 0.125rem;

// right column (object tools)
$toolbar-width: 14rem;

// filters
$filter-title-font-size: 1rem;
$filter-title-font-weight: 300;
$filter-item-hover-bg: gray(100);
$filter-item-active-bg: gray(100);
$filter-item-active-box-shadow: 3px 0 0 gray(300);

// search
$search-form-result-font-size: 0.8rem;
