@import "css/env";

.clearable-file-field {
  .js & input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input[type="file"].focus + label,
  input[type="file"]:focus + label {
    box-shadow: 0 0 0 2px $input-focus-border-color;
  }

  &__state {
    margin-right: 1.5em;
  }

  &__checkbox {
  }

  &__button {
    max-width: 100%;

    .no-js & {
      display: none;
    }

    span {
      display: inline-block;
      overflow: hidden;
      max-width: calc(100% - 1.25rem);
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: top;
    }
  }
}
