@import "../app";


// Select2 styles
.select2-container {
  min-width: $form-field-width;
  @media (max-width: 419px) {
    width: 100% !important;
    min-width: 0 !important;
  }

  .select2-selection {
    border-color: $input-border-color !important;
    @at-root .invalid & {
      border-color: $danger !important;
    }
  }

  .select2-results__option {
    padding-left: $input-btn-padding-x !important;
    padding-right: $input-btn-padding-x !important;
  }

  .select2-selection--single {
    padding-top: 2px;
    height: 34px !important;
  }

  .select2-selection--single .select2-selection__rendered {
    padding-left: $input-btn-padding-x !important;
    color: $input-color !important;
  }

  .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
    top: -1px !important;
  }

  &.select2-container--open {
    .select2-selection {
      border-color: $input-focus-border-color !important;
    }
  }

  .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: $white;
    background-color: $info;
    border-color: #79aec8;
  }

  .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove {
    color: inherit;
  }
}

.select2-dropdown {
  border-color: $input-focus-border-color !important;
  box-shadow: $popover-box-shadow;
}
