{% extends "admin/base_site.html" %}
{% load admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}


{% block breadcrumb_items %}
  <li class="breadcrumb-item">
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">
      {{ opts.app_config.verbose_name }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url opts|admin_urlname:'changelist' %}">
      {{ opts.verbose_name_plural|capfirst }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">
      {{ original|truncatewords:"18" }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {{ _("Change password") }}
  </li>
{% endblock breadcrumb_items %}


{% block messages %}
  {{ block.super }}

  {% for error in form.non_field_errors %}
    <li class="paper-message paper-message--error">
      {{ error }}
    </li>
  {% endfor %}
{% endblock %}


{% block content_title %}
  <h1>
    {{ _("Change password") }}: <span class="text-secondary">{{ original|truncatewords:"18" }}</span>
  </h1>
{% endblock %}


{% block content %}
  <form class="paper-form paper-form--hook" method="post" action="{{ form_url }}" id="{{ opts.model_name }}_form" novalidate>
    {% csrf_token %}

    {% block form_top %}{% endblock %}

    {% if is_popup %}
      <input type="hidden" name="{{ is_popup_var }}" value="1" />
    {% endif %}

    <input type="hidden" name="username" value="{{ original.get_username }}"/>

    <fieldset class="paper-card paper-card--info card mb-3">
      <p class="card-header">
        {{ _("It's a good idea to use a strong password that you don't use elsewhere.") }}
      </p>
      <div class="card-body p-0">
        {% include 'paper_admin/includes/admin_field.html' with field=form.password1 %}
        {% include 'paper_admin/includes/admin_field.html' with field=form.password2 %}
      </div>
    </fieldset>

    <button type="submit" class="btn btn-success">
      {{ _("Change my password") }}
    </button>
  </form>
{% endblock %}
