@mixin card-variant($background, $color, $border-color) {
  box-shadow: 0 0 0 1px $border-color, $card-box-shadow;

  .card-header {
    color: $color;
    background-color: $background;
  }
}

@mixin card-padding-x() {
  padding-left: $card-spacer-x-sm;
  padding-right: $card-spacer-x-sm;
  @include media-breakpoint-up(sm) {
    padding-left: $card-spacer-x;
    padding-right: $card-spacer-x;
  }
}
