@import "css/abstracts/variables/bootstrap";

@mixin card-padding-x() {
  padding-left: $card-spacer-x-sm;
  padding-right: $card-spacer-x-sm;
  @include media-breakpoint-up(sm) {
    padding-left: $card-spacer-x;
    padding-right: $card-spacer-x;
  }
}
