@import "css/env";

.object-tools {
  @include media-breakpoint-down(xs) {
    display: none;
  }

  & > * {
    margin-right: $object-tools-gutter-width;
    &:last-child {
      margin-right: 0;
    }
  }
}
