{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": false
            }
        ]
    ],
    "plugins": ["lodash", "@babel/plugin-syntax-dynamic-import"]
}
