{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "transform-imports",
            {
                "lodash": {
                    "transform": "lodash/${member}.js",
                    "preventFullImport": true
                }
            }
        ]
    ]
}
