django-autocomplete-light==3.9.4
django-logentry-admin==1.1.0
django-mptt==0.14.0
django-solo==2.0.0
django-tree-queries==0.11.0
Pillow==9.3.0; python_version == '3.6'
Pillow==9.3.0; python_version >= '3.7'

pytest==7.0.1; python_version == '3.6'
pytest==7.2.0; python_version >= '3.7'
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-xdist==3.0.2
