$split-datetime-field-max-width: 360px !default;
$split-datetime-field-gutter-width: 10px !default;

$split-datetime-date-field-max-width: 220px !default;
$split-datetime-time-field-max-width: 130px !default;
