@import "css/abstracts/variables/bootstrap";

$paper-footer-padding-x: 0 !default;
$paper-footer-padding-y: 0.75rem !default;
$paper-footer-font-size: 0.75rem !default;
$paper-footer-bg: #fff !default;
$paper-footer-border-width: $hr-border-width !default;
$paper-footer-border-color: $hr-border-color !default;
