@import "css/abstracts/bootstrap";

$paper-environment-padding-y: 0.125rem !default;
$paper-environment-padding-x: 0.75rem !default;
$paper-environment-font-size: 0.625rem !default;
$paper-environment-line-height: $line-height-base !default;
$paper-environment-border-width: 1px !default;
$paper-environment-border-color: $gray-700 !default;
