@import "./variables";

.paper-environment {
  padding: $paper-environment-padding-y $paper-environment-padding-x;
  margin-bottom: 0;
  font-size: $paper-environment-font-size;
  line-height: $paper-environment-line-height;
  text-align: center;
  text-transform: uppercase;
  border-bottom: $paper-environment-border-width solid $paper-environment-border-color;
  background: var(--bg-color);
}
