@import "css/env";

.paper-environment {
  padding: 2px 0.75rem;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $paper-sidebar-brand-border-color;
  background: var(--bg-color);
}
