<div class="vSmallField input-group">
  {% with input_class='vEmailInput form-control form-control-lg' %}
    {% include "django/forms/widgets/input.html" %}
  {% endwith %}

  <div class="input-group-append">
    <a class="input-group-text {% if widget.value %}text-info{% endif %}"
       {% if widget.value %}href="mailto:{{ widget.value }}"{% endif %}
       target="_blank" rel="noopener" tabindex="-1"
       data-toggle="tooltip" data-placement="top" data-trigger="hover"
       data-html="true" title="{{ _('Send Mail') }}">
      <i class="fa fa-fw fa-envelope-o"></i>
    </a>
  </div>
</div>
