{% if widget.is_hidden %}
  {% include "django/forms/widgets/hidden.html" %}
{% else %}
  <div class="time-field paper-input-group input-group" data-xclass="time-field">
    {% include "django/forms/widgets/input.html" %}

    <div class="input-group-append">
      <button type="button"
              class="time-field__button input-group-text bi-clock"
              tabindex="-1"
              data-xclass="bs-tooltip"
              data-placement="top"
              data-trigger="hover"
              data-html="true"
              title="{{ _('Now') }}">
      </button>
    </div>
  </div>
{% endif %}