@import "css/abstracts/bootstrap";

$paper-dropzone-offset: 5px !default;
$paper-dropzone-border-radius: $border-radius !default;
$paper-dropzone-bg: rgba(#fae248, 0.65) !default;
$paper-dropzone-active-bg: rgba(#a0a0ff, 0.65) !default;
