@import "css/abstracts/bootstrap";

$paper-card-bg: #fff !default;
$paper-card-spacer-x-sm: 0.75rem !default;
$paper-card-subtitle-color: $gray-700 !default;
$paper-card-box-shadow: 0 8px 12px rgb(0 0 0 / 2%) !default;
