@import "css/env";

.paper-card {
  .card-header {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    @include media-breakpoint-down(sm) {
      padding-left: $paper-card-spacer-x-sm;
      padding-right: $paper-card-spacer-x-sm;
    }
  }

  .card-body {
    background: $paper-card-bg;
    @include media-breakpoint-down(sm) {
      padding-left: $paper-card-spacer-x-sm;
      padding-right: $paper-card-spacer-x-sm;
    }

    &:first-child {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
    }
  }

  .card-subtitle {
    display: block;
    color: $paper-card-subtitle-color;
  }

  .card-footer {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    @include media-breakpoint-down(sm) {
      padding-left: $paper-card-spacer-x-sm;
      padding-right: $paper-card-spacer-x-sm;
    }
  }
}

@each $name, $value in $paper-bg-colors {
  @if map-has-key($paper-bg-colors, $name) {
    $bg: map-get($paper-bg-colors, $name);
    $border: map-get($paper-border-colors, $name);

    .paper-card--#{$name} {
      border-color: $border;

      .card-header {
        color: color-yiq($bg);
        border-color: $border;
        background-color: $bg;
      }

      .card-footer {
        border-color: $border;
      }
    }
  }
}
