<div class="paper-filter form-group">
  <p class="paper-filter-header mb-1">{{ title|capfirst }}</p>

  <ul class="list-unstyled mb-0 vMultipleInput {{ classes }}">
    {% for choice in choices %}
      <li>
        <div class="custom-control user-select-none vCustomCheckbox">
          <input type="checkbox"
                 id="id_{{ spec.field_path }}-{{ choice.value }}"
                 value="{{ choice.value }}"
                 name="{{ spec.field_path }}"
                 class="custom-control-input"
                 {{ choice.selected|yesno:"checked," }}>
          <label class="custom-control-label" for="id_{{ spec.field_path }}-{{ choice.value }}">
            {{ choice.display }}
          </label>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>