@import "css/env";

.paper-page {

  // Анимация выполняется при загрузке страницы.
  // Отменяем это поведение через JS.
  &.js {
    transition: margin-left $paper-sidebar-transition-duration;
  }

  @at-root
  body:not(.popup) & {
    @include media-breakpoint-up(xl) {
      margin-left: $paper-sidebar-width;
    }
  }

  &__header {
    h1 {
      margin-bottom: 0;
      @include font-size($h2-font-size);
    }
  }

  &__content {

  }

  &__toolbar {
    display: none;
    width: $paper-page-toolbar-width;
    @include media-breakpoint-up(lg) {
      display: block;
    }

    &:empty {
      display: none;
    }
  }
}
