@import "css/abstracts/bootstrap";
@import "bem/paper-sidebar/variables";
@import "./variables";

.paper-page {
  // Анимация выполняется при загрузке страницы.
  // Отменяем это поведение привязкой к динамически добавляемому классу.
  &.js {
    transition: margin-left $paper-sidebar-transition-duration;
  }

  @at-root body:not(.popup) & {
    @include media-breakpoint-up(xl) {
      @each $breakpoint in map-keys($paper-sidebar-width) {
        @media (min-width: $breakpoint) {
          margin-left: map-get($paper-sidebar-width, $breakpoint);
        }
      }
    }
  }

  &__header {
    h1 {
      margin-bottom: 0;
      @include font-size($h2-font-size);
    }
  }

  &__content {
  }

  &__toolbar {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }

    @each $breakpoint in map-keys($paper-page-toolbar-width) {
      @media (min-width: $breakpoint) {
        width: map-get($paper-page-toolbar-width, $breakpoint);
      }
    }

    &:empty,
    &:not(:has(.card-body > ul > li)) {
      display: none;
    }
  }
}
