$btn-square-size: 2.125rem !default;
$btn-square-size-sm: 1.875rem !default;
$btn-square-size-lg: 2.5rem !default;
$btn-square-icon-size: 0.875rem !default;
$btn-square-icon-size-sm: 0.875rem !default;
$btn-square-icon-size-lg: 1rem !default;
