@import "css/abstracts/bootstrap";
@import "./variables";

.select-field {
  @include media-breakpoint-up(sm) {
    max-width: $select-field-max-width;
  }

  &:has([data-select2-id][multiple]) {
    max-width: none;
  }

  select,
  .select2 {
    width: 100%;
  }
}
