@import "css/abstracts/bootstrap";
@import "./variables";

.select-field {
  max-width: 100%;
  @include media-breakpoint-up(sm) {
    &:not(:has([data-select2-id][multiple])) {
      max-width: $select-field-max-width;
    }
  }

  select,
  .select2 {
    width: 100%;
  }
}
