@import "css/abstracts/bootstrap";
@import "css/abstracts/variables/field_size";

.select-field {
  max-width: 100%;
  @include media-breakpoint-up(sm) {
    &:not(:has([data-select2-id][multiple])) {
      max-width: $field-medium-size;
    }
  }

  select,
  .select2 {
    width: 100%;
  }
}
