@import "css/env";

.btn-square-group {
  > .btn {
    border-color: $btn-square-group-border-color;

    &:not(:disabled):hover,
    &:not(.disabled):hover {
      background-color: $btn-square-group-hover-bg;
    }
  }
}

@each $name, $value in $paper-border-colors {
  @if map-has-key($paper-border-colors, $name) {
    .table-#{$name} .btn-square-group > .btn {
      border-color: map-get($paper-border-colors, $name);

      &:not(:disabled):hover,
      &:not(.disabled):hover {
        background-color: map-get($paper-bg-colors, $name);
      }
    }
  }
}
