@import "css/env";

.btn-square-group {
  > .btn {
    border-color: $btn-square-group-border-color;

    &:not(:disabled):hover,
    &:not(.disabled):hover {
      background-color: $btn-square-group-hover-bg;
    }
  }
}

@each $color, $value in $theme-colors {
  $background: theme-color-level($color, $table-bg-level);

  .table-#{$color} .btn-square-group > .btn {
    &:not(:disabled):hover,
    &:not(.disabled):hover {
      background-color: saturate(darken($background, 5%), 5%);
    }
  }
}
