@import "css/env";

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes load {
  0% {
    transform: rotate(-35deg);
  }
  18% {
    border-width: 6px;
  }
  50% {
    border-width: 3px;
  }
  82% {
    border-width: 6px;
  }
  100% {
    transform: rotate(215deg);
  }
}

.paper-preloader {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 70px;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    border: 8px solid transparent;
    border-left-color: $primary;
    animation: load .9s ease-in-out alternate infinite;
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    animation: pulse .75s linear alternate infinite;
  }
}
