@import "css/abstracts/bootstrap";
@import "./variables";

.paper-tabs {
  position: relative;

  &__underline {
    position: absolute;
    height: 2px;
    background-color: $info;
    transition: all 0.3s;

    &.invalid {
      background-color: $danger;
    }
  }

  .nav {
    margin-left: #{-$paper-tabs-link-padding-x};
    margin-right: #{-$paper-tabs-link-padding-x};
    gap: 0.375rem 0.5rem;
  }

  .nav-link {
    padding: $paper-tabs-link-padding-y $paper-tabs-link-padding-x;
    color: $headings-color;
    font-size: $font-size-lg;
    font-weight: 300;
    transition: color 0.2s;

    &[href]:hover {
      color: $link-hover-color;
    }

    &.invalid {
      color: $danger;
      font-weight: 400;
    }
  }
}
