@import "css/abstracts/bootstrap";

.paper-tabs {
  position: relative;

  &__underline {
    position: absolute;
    height: 2px;
    background-color: $info;
    transition: all 0.2s;
  }

  .nav {
    display: flex;
    margin-left: #{-$nav-link-padding-x};
    margin-right: #{-$nav-link-padding-x};
  }

  .nav-item {
    margin-right: 0.5rem;
    margin-bottom: 0.375rem;
  }

  .nav-link {
    padding: 0.25rem 0.375rem;
    color: $gray-600;
    font-size: $font-size-lg;
    font-weight: 300;

    &:hover {
      color: $primary;
    }
  }

  .active {
    color: $primary;
  }
}
