@import "css/env";


$arrow-btn-width: 24px;
$clear-btn-width: 24px;

.select2-container {
  .select2-selection--multiple,
  .select2-selection--single {
    border: $input-border-width solid $input-border-color;
    background-color: $input-bg;

    &:focus {
      outline: 0;
    }

    .select2-selection__clear {
      position: absolute;
      display: flex;
      margin: 0;
      padding: 0;
      top: 0;
      width: $clear-btn-width;
      height: 100%;
      color: $gray-500;
      font-size: 14px;
      line-height: 1;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: font-size steps(4) 0.2s;

      &:hover {
        font-size: 20px;
        color: $input-color;
      }
    }
  }

  .select2-selection--single {
    height: auto;

    .select2-selection__rendered {
      height: 100%;
      color: $input-color;
      line-height: inherit;
    }

    .select2-selection__placeholder {
      display: inline-block;
      color: $text-muted;
    }

    .select2-selection__clear {
      right: $arrow-btn-width + $input-border-width;
    }

    .select2-selection__arrow {
      position: absolute;
      top: 0;
      right: $input-border-width;
      width: $arrow-btn-width;
      height: 100%;

      b {
        position: absolute;
        margin-top: -2px;
        margin-left: -4px;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-color: $input-color transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0;
      }
    }
  }

  .select2-selection--multiple {
    min-height: 0;

    .select2-selection__rendered {
      padding: 4px;
      margin-top: -5px;
      vertical-align: top;

      &.select2-selection__rendered--clearable {
        padding-right: $clear-btn-width;
      }
    }

    .select2-selection__clear {
      right: $input-border-width;
    }

    .select2-selection__choice {
      padding: 3px 8px;
      margin-top: 5px;
      margin-right: 5px;
      background-color: $gray-200;
      border: $input-border-width solid $input-border-color;
    }

    .select2-selection__choice__remove {
      position: relative;
      padding: 0 4px;
      margin: 0 2px 0 -5px;
      color: $secondary;

      &:hover {
        color: $input-color;
      }
    }

    .select2-search__field {
      margin-top: 5px;
      padding: 4px 0;
    }
  }


  .select2-search--dropdown {
    .select2-search__field {
      border: $input-border-width solid $input-border-color;

      &:focus {
        outline: 0;
        border: $input-border-width solid $input-focus-border-color;
      }
    }
  }

  .select2-dropdown {
    overflow: hidden;
    background-color: $input-bg;
    box-shadow: $input-focus-box-shadow;
    border: $input-border-width solid $input-focus-border-color;
  }

  .select2-results__option {
    &[aria-selected=true] {
      background-color: $gray-200;
    }
  }

  .select2-results > .select2-results__options {
    max-height: 250px;
  }

  .select2-results__option--highlighted[aria-selected] {
    color: #ffffff;
    background-color: #79aec8;
  }


  &.select2-container--focus,
  &.select2-container--open {
    .select2-selection--multiple,
    .select2-selection--single {
      border: $input-border-width solid $input-focus-border-color;
      box-shadow: $input-focus-box-shadow;
    }
  }

  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow b {
        border-color: transparent transparent $input-color;
        border-width: 0 4px 5px;
      }
    }

    &.select2-container--below {
      .select2-selection--multiple,
      .select2-selection--single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.select2-container--above {
      .select2-selection--multiple,
      .select2-selection--single {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}


.select2-container--default {
  font-size: $input-font-size-lg;
  line-height: $input-line-height-lg;
  border-radius: $input-border-radius-lg;

  .select2-selection--multiple,
  .select2-selection--single {
    border-radius: $input-border-radius-lg;
  }

  .select2-selection--single {
    .select2-selection__rendered {
      padding: $input-padding-y-lg $arrow-btn-width $input-padding-y-lg $input-padding-x-lg;

      &.select2-selection__rendered--clearable {
        padding-right: #{$arrow-btn-width + $clear-btn-width};
      }
    }
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      border-radius: $input-border-radius-lg;
    }
  }

  .select2-search--dropdown {
    padding: #{$input-padding-y-lg / 2} #{$input-padding-x-lg / 2};

    .select2-search__field {
      padding: #{$input-padding-y-lg * 0.75} #{$input-padding-x-lg / 2};
      border-radius: $input-border-radius-lg;
    }
  }

  .select2-dropdown {
    &.select2-dropdown--below {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    &.select2-dropdown--above {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }
  }

  .select2-results__option {
    padding: $input-padding-y-lg $input-padding-x-lg;
  }
}


.select2-container--sm {
  font-size: $input-font-size;
  line-height: $input-line-height;
  border-radius: $input-border-radius;

  .select2-selection--multiple,
  .select2-selection--single {
    border-radius: $input-border-radius;
  }

  .select2-selection--single {
    .select2-selection__rendered {
      padding: $input-padding-y $arrow-btn-width $input-padding-y $input-padding-x;

      &.select2-selection__rendered--clearable {
        padding-right: #{$arrow-btn-width + $clear-btn-width};
      }
    }
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      border-radius: $input-border-radius;
    }
  }

  .select2-search--dropdown {
    padding: #{$input-padding-y / 2} #{$input-padding-x / 2};

    .select2-search__field {
      padding: #{$input-padding-y * 0.75} #{$input-padding-x / 2};
      border-radius: $input-border-radius;
    }
  }

  .select2-dropdown {
    &.select2-dropdown--below {
      border-bottom-left-radius: $input-border-radius;
      border-bottom-right-radius: $input-border-radius;
    }

    &.select2-dropdown--above {
      border-top-left-radius: $input-border-radius;
      border-top-right-radius: $input-border-radius;
    }
  }

  .select2-results__option {
    padding: $input-padding-y $input-padding-x;
  }
}
