@import "css/abstracts/bootstrap";

$paper-filter-gutter-width: 0.75rem !default;
$paper-filter-title-font-size: 1rem !default;
$paper-filter-title-font-weight: 300 !default;
$paper-filter-border-top: 1px dashed $gray-200 !default;
$paper-filter-row-space: 0.25rem !default;
