@import "css/env";

.paper-filter {
  margin-bottom: $paper-filter-gutter-width;

  &:not(:first-child) {
    padding-top: $paper-filter-gutter-width;
    border-top: $paper-filter-border-top;
  }

  &__title {
    font-size: $paper-filter-title-font-size;
    font-weight: $paper-filter-title-font-weight;
  }
}
