.money-field {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 10px;
}

.money-field .number-field {
  flex: 5 0 120px;
}

@media (min-width: 576px) {
  .money-field .number-field {
    max-width: 160px;
  }
}

.money-field .select-field {
  flex: 1 0 auto;
}

@media (min-width: 576px) {
  .money-field .select-field {
    flex: 0 0 auto;
    min-width: 190px;
  }
}

.money-field .select-field .select2-selection--single .select2-selection__rendered {
  min-width: 78px;
  margin-right: 58px;
}
