<div class="paper-form__row{% if field.errors %} invalid{% endif %}{% if field.is_hidden %} paper-form__row--hidden{% endif %}{% if is_readonly %} paper-form__row--readonly{% endif %}{% if field.field.required %} paper-form__row--required{% endif %}">
  <div class="row{% if field.name %} field-{{ field.name }}{% endif %} mb-0">

    {% block label %}
      <div class="col-md-3 col-xl-2">{% spaceless %}
        <label class="paper-form__label" for="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>

        {% if field.help_text %}
          <i class="paper-form__help-icon fa fa-fw fa-question-circle"
             data-toggle="popover" data-placement="top" data-trigger="manual"
             data-html="true" data-content="{{ field.help_text }}"></i>
        {% endif %}
      {% endspaceless %}</div>
    {% endblock %}

    {% block widget %}
      <div class="col-md-9 col-xl-10">
        {% if is_readonly %}
          <div class="readonly">{{ field.contents }}</div>
        {% else %}
          <div class="paper-form__widget{% if field.errors %} paper-form__widget--invalid{% endif %}">
            {{ field }}
          </div>

          <ul class="paper-error-list invalid-feedback">{% spaceless %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endspaceless %}</ul>
        {% endif %}
      </div>
    {% endblock %}

  </div>
</div>
