{% extends 'paper_admin/includes/admin_field.html' %}

{% block label %}
  <div class="col-md-3 col-xl-2 d-none d-md-block">{% spaceless %}
    <label class="paper-form__label col-form-label col-form-label-lg" for="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>

    {% if field.help_text %}
      <i class="paper-form__help-icon fa fa-fw fa-question-circle"
         data-toggle="popover" data-placement="top" data-trigger="manual"
         data-html="true" data-content="{{ field.help_text }}"></i>
    {% endif %}
  {% endspaceless %}</div>
{% endblock %}

{% block widget %}
  <div class="form-widget col-md-9 col-xl-10">
    {{ field }}
    <div class="inner-label d-md-none">{% spaceless %}
      <label class="paper-form__label col-form-label col-form-label-lg" for="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>

      {% if field.help_text %}
        <i class="paper-form__help-icon fa fa-fw fa-question-circle"
           data-toggle="popover" data-placement="top" data-trigger="manual"
           data-html="true" data-content="{{ field.help_text }}"></i>
      {% endif %}
    {% endspaceless %}</div>

    <div class="invalid-feedback">
      <ul class="list-unstyled mb-0">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
