@import "css/abstracts/bootstrap";
@import "./variables";

.paper-widget {
  .input-group {
    a.input-group-text {
      min-width: $paper-widget-addon-min-width;
      justify-content: center;
    }

    button.input-group-text {
      min-width: $paper-widget-addon-min-width;
      justify-content: center;
    }
  }

  // Показывает второй label на мобиле, справа от виджета.
  &--checkbox {
    & > .custom-control {
      @include media-breakpoint-down(sm) {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  &--invalid {
    ~ .invalid-feedback,
    ~ .invalid-tooltip {
      display: block;
    }

    .form-control,
    .custom-file-label,
    .select2-selection {
      border-color: $paper-widget-invalid-border-color;
      box-shadow: $paper-widget-invalid-box-shadow;
    }

    .form-control:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow;
    }

    // стили Bootstrap из ".is-invalid"
    .form-control {
      @if $enable-validation-icons {
        padding-right: add($input-height-inner-half, $input-padding-y * 2);
        background-image: escape-svg($form-feedback-icon-invalid);
        background-repeat: no-repeat;
        background-position: right $input-padding-y center;
        background-size: $input-height-inner-half $input-height-inner-half;
      }
    }
  }
}
