@import "css/abstracts/variables/bootstrap";

$paper-breadcrumbs-font-size: 0.8rem !default;
$paper-breadcrumbs-line-height: null !default;
$paper-breadcrumbs-border-radius: 0 !default;
$paper-breadcrumbs-border-color: $hr-border-color !default;
$paper-breadcrumbs-border-width: $hr-border-width !default;
