@import "css/abstracts/variables/bootstrap";

$paper-form-row-padding-x: 1rem !default;
$paper-form-row-padding-y: 0.75rem !default;
$paper-form-row-padding-x-sm: 0.75rem !default;
$paper-form-row-border-width: 1px !default;
$paper-form-row-border-color: #f4f4f4 !default;
$paper-form-row-bg: #fff !default;

$paper-form-label-color: #444 !default;
$paper-form-label-hover-color: #000 !default;
$paper-form-label-font-size: 1rem !default;
$paper-form-label-font-weight: 300 !default;

$paper-form-help-icon-margin-left: 6px !default;
$paper-form-help-icon-color: $info !default;
$paper-form-help-icon-size: 1rem !default;
