@import "css/env";

.paper-form {

  &__help-icon {
    margin-left: $paper-form-help-icon-margin-left;
    color: $paper-form-help-icon-color;
    font-size: $paper-form-help-icon-size;
    cursor: pointer;
    opacity: 0.66;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}
