@import "css/env";

.paper-form {

  &__label {
    margin-bottom: 0;
    color: $paper-form-label-color;
    font-size: $paper-form-label-font-size;
    font-weight: $paper-form-label-font-weight;
    line-height: $paper-form-label-line-height;
    cursor: pointer;
    @include transition(color .2s);
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.375rem;
    }

    &:hover {
      color: $paper-form-label-hover-color;
    }
  }

  &__help-icon {
    margin-left: $paper-form-help-icon-margin-left;
    color: $paper-form-help-icon-color;
    font-size: $paper-form-help-icon-size;
    cursor: pointer;
    opacity: 0.66;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }

  &__row {
    padding: $paper-form-row-padding-y $paper-form-row-padding-x;
    background-color: $paper-form-row-bg;
    @include media-breakpoint-down(sm) {
      padding-left: $paper-form-row-padding-x-sm;
      padding-right: $paper-form-row-padding-x-sm;
    }

    &:not(:first-of-type) {
      border-top: $paper-form-row-border-top;
    }

    // поле только для чтения
    &--readonly {
      .readonly {
        word-break: break-word;
        font-size: $font-size-lg;
      }
    }

    // обязательное для заполнения поле
    &--required {
      .paper-form__label:after {
        content: '*';
        position: relative;
        margin-left: .125em;
        top: -0.2em;
        color: $danger;
        font-weight: bold;
      }
    }
  }


  &__table-row {

  }

  &__row--invalid,
  &__table-row--invalid {
    background-color: $paper-form-row-invalid-bg;
  }
}
