@import "css/abstracts/bootstrap";
@import "./variables";

%mark-required {
  content: "*";
  display: inline-block; // disable text-decoration
  position: relative;
  margin-left: 0.125em;
  top: -0.2em;
  color: $danger;
  font-weight: bold;
}

.paper-form {
  &__label {
    margin-bottom: 0;
    color: $paper-form-label-color;
    font-size: $paper-form-label-font-size;
    font-weight: $paper-form-label-font-weight;
    line-height: $paper-form-label-line-height;
    cursor: pointer;
    @include transition(color 0.2s);
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.375rem;
    }

    &--required:after {
      @extend %mark-required;
    }

    &:hover {
      color: $paper-form-label-hover-color;
    }
  }

  &__row {
    padding: $paper-form-row-padding-y $paper-form-row-padding-x;
    background-color: $paper-form-row-bg;
    @include media-breakpoint-down(sm) {
      padding-left: $paper-form-row-padding-x-sm;
      padding-right: $paper-form-row-padding-x-sm;
    }

    &:not(:first-of-type) {
      border-top: $paper-form-row-border-top;
    }

    .paper-card &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    .paper-card > .card-body:first-of-type &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    .paper-card > .card-header:first-of-type + .card-body &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    // поле только для чтения
    &--readonly {
      .readonly {
        word-break: break-word;
        font-size: $font-size-lg;
      }
    }

    // обязательное для заполнения поле
    &--required {
      .paper-form__label:after {
        @extend %mark-required;
      }
    }

    // неверно заполненное поле
    &--invalid {
      background-color: $paper-form-row-invalid-bg;
    }
  }
}
