$paper-modal-header-padding-y: 0.75rem !default;
$paper-modal-header-padding-x: 1rem !default;
$paper-modal-title-font-size: 1.25rem !default;
$paper-modal-title-line-height: 1.25 !default;
$paper-modal-inner-padding-y: 1rem !default;
$paper-modal-inner-padding-x: 1rem !default;
$paper-modal-footer-padding-y: 0.75rem !default;
$paper-modal-footer-padding-x: 1rem !default;
