@import "css/env";

.actions {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width: 499px) {
    flex: 0 0 100%;
  }

  .action-select_across {
    display: none;
  }

  .paper-action-notes {
    padding: .375rem 0 .375rem 1rem;
    flex: 1 0 auto;
    @media screen and (max-width: 499px) {
      margin: 6px 0;
      flex: 0 0 100%;
    }
  }

  .action-action {
    select {
      width: auto;
      min-width: 200px;
    }

    .select2 {
      min-width: 0;
    }
  }

  .action-counter,
  .action-all {
    margin-right: .375rem;
  }

  .action-question,
  .action-clear {
    margin-left: .375rem;
  }
}

.action-checkbox-column {
  width: $custom-checkbox-size;
  box-sizing: content-box;
}

#action-toggle {
  vertical-align: text-bottom;
}

.action-select {
  vertical-align: text-bottom;
}
