@import "../app";


.card {
  overflow: hidden;
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-box-shadow;
  &:last-child {
    margin-bottom: 0;
  }
}

.card-header {
  border-bottom: 0;
  @include card-padding-x;

  + .card-body {
    border-top: 1px solid $card-border-color;;
  }
}

.card-title {
  margin-bottom: 0;
}

.card-subtitle {
  display: block;
  margin-top: -0.125em;
  opacity: 0.8;
}

.card-footer {
  border-width: 1px;
  @include card-padding-x;
}

// Из-за наличия pagging у "card-body", анимация скрытия/раскрытия (collapse)
// не плавная. Переносим padding на внутренний элемент card-content".
.card-body {
  padding-top: 0;
  padding-bottom: 0;
  @include card-padding-x;
}

.card-content {
  padding-top: $card-spacer-y;
  padding-bottom: $card-spacer-y;
}
