@import "../app";


.card {
  overflow: hidden;
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-box-shadow;
  &:last-child {
    margin-bottom: 0;
  }
}

@each $color, $value in $theme-colors {
  &.card-#{$color} {
    @if $color == 'dark' {
      @include card-variant(
          theme-color-level($color, -2),
          color-yiq(theme-color($color)),
          theme-color-level($color, -2)
      );
    } @else {
      @include card-variant(
          theme-color-level($color, -9),
          theme-color-level($color, 6),
          darken(theme-color-level($color, -9), 7%)
      );
    }
  }
}

.card-header {
  border-width: 1px;
  @include card-padding-x;
}

.card-title {
  margin-bottom: 0;
}

.card-subtitle {
  display: block;
  margin-top: -0.125em;
  opacity: 0.8;
}

.card-body {
  @include card-padding-x;
}

.card-footer {
  border-width: 1px;
  @include card-padding-x;
}
