@import "../app";


.paper-footer {
  padding-top: $footer-padding-y;
  padding-bottom: $footer-padding-y;
  font-size: $footer-font-size;
  background: $footer-bg;
  border-top: $hr-border-width solid $hr-border-color;

  .col-auto {
    flex-shrink: 1;
  }

  .paper-support-text, .paper-support-phone, .paper-support-email {
    display: inline-block;
    margin: 0.125rem 1.25rem 0.125rem 0;
    vertical-align: middle;
  }

  .paper-support-links {
    display: block;
  }

  .paper-support-phone, .paper-support-email {
    white-space: nowrap;

    &:hover {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  .paper-copyright {
    margin-top: 0.25rem;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
}
