@import "../app";


.paper-form-card {
  .card-body {
    padding: 0;
  }

  .form-row {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid $table-border-color;
    @include card-padding-x;

    &:last-child {
      border-bottom: 0;
    }

    &.invalid {
      background-color: theme-color-level('danger', -10);
    }

    &:not(.invalid):nth-child(even) {
      background-color: $table-accent-bg;
    }
  }

  .form-group {
    .col-form-label {
      @include media-breakpoint-down(sm) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .form-label {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    .readonly-content {
      @include media-breakpoint-up(md) {
        margin-top: add($input-padding-y-lg, $input-border-width);
      }
    }

    .form-widget > .vCustomCheckbox,
    .form-widget > .vSwitch {
      @include media-breakpoint-up(md) {
        margin-top: add($input-padding-y-lg, $input-border-width);
      }
      @include media-breakpoint-down(sm) {
        float: left;
        margin-right: 0.375rem;
      }

      + .form-label {
        margin-top: 0;
        margin-bottom: 0;

        > label {
          display: inline;
          user-select: none;
        }
      }
    }
  }
}
