@import "css/env";


.related-links {
  margin: 0.5rem #{-$tool-item-margin-y} 0 #{-$tool-item-margin-y};
  @media (max-width: 479px) {
    display: block;
  }

  select + &,
  .select2 + & {
    @media (min-width: 480px) {
      margin-top: 0.3125rem;
      margin-left: 0.375rem;
    }
  }
}

/**
 *  Fields
 */
.custom-file-lg {
  height: $input-height-lg;

  .custom-file-input {
    height: $input-height-lg;
  }

  .custom-file-label {
    padding: $input-padding-y-lg $input-padding-x-lg;
    height: $input-height-lg;
    font-size: $font-size-lg;

    &:after {
      padding: $input-padding-y-lg $input-padding-x-lg;
      height: add($input-line-height-lg * 1em, $input-padding-y-lg * 2);
    }
  }
}
