@import "css/env";


.related-links {
  margin: 0.5rem #{-$tool-item-margin-y} 0 #{-$tool-item-margin-y};
  @media (max-width: 479px) {
    display: block;
  }

  select + &,
  .select2 + & {
    @media (min-width: 480px) {
      margin-top: 0.3125rem;
      margin-left: 0.375rem;
    }
  }
}
