@import "../app";


.paper-header {
  min-height: 2.625rem;
  box-shadow: $header-box-shadow;
  background: $header-navbar-bg;
  z-index: #{$zindex-sticky + 1};
  backface-visibility: hidden;  // force layer to prevent repaint
  @include media-breakpoint-up(lg) {
    min-height: $header-min-height;
  }
  @at-root .popup & {
    min-height: 0;
  }

  & > .navbar {
    padding: 0.4375rem 0;
  }

  .navbar-brand {
    flex: 1 0 0;
    line-height: 1;
    white-space: normal;

    a {
      color: $header-navbar-brand-color;
      font-size: $header-navbar-brand-font-size;
      @include media-breakpoint-up(sm) {
        font-size: $header-navbar-brand-font-size-sm;
      }
    }
  }

  .navbar-nav {
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;

    & > .nav-item {
      margin-left: $header-nav-item-margin-x;
      &:first-child {
        margin-left: 0;
      }
    }

    & > .btn-group {
      margin-right: $header-nav-item-margin-x;
    }

    & > .divider {
      margin-left: 0;
      flex-grow: 1;
      align-self: stretch;
    }
  }

  .nav-link {
    padding: 0.25rem 0.5rem;
    color: $body-color;
    border-radius: $border-radius;

    &:hover,
    &[aria-expanded="true"] {
      background-color: $gray-100;
    }
  }

  .dropdown-menu {
    overflow: hidden;   // fix background bleed
  }

  .tool-item {
    margin-right: 0;
  }

  .sidebar-toggle {
    min-width: 32px;
    text-align: center;
    &:hover {
      color: $info;
    }

    i {
      transform: scale(1.5);
    }
  }
}
