@import "../app";


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.paper-modal {
  &__header {

  }

  &__title {
    font-size: 1.375rem;
    line-height: 1.25;
  }

  &__close-button {
    font-size: 24px;
  }

  &__body {
    font-size: $font-size-lg;
    line-height: $line-height-lg;

    .close {
      margin: (-$modal-inner-padding-y) (-$modal-inner-padding-x) (-$modal-inner-padding-y) auto;
    }
  }

  &__footer {

  }


  // Preloader
  &--preloader {
    .preloader {
      margin: 0 auto 30px;
    }
  }
}
