@import "app";


.paper-pagination {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .page-link {
    @include media-breakpoint-down(xs) {
      padding: .375rem .625rem;
    }
  }
}
