@import "../app";


@keyframes arrow {
  0% {
    top: 0.5em;
  }
  25% {
    top: 0.25em;
  }
  75% {
    top: 0.75em;
  }
  100% {
    top: 0.5em;
  }
}

#scrollTopButton {
  position: fixed;
  display: none;
  right: 1em;
  bottom: 1em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  opacity: 0.75;
  z-index: $zindex-sticky;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  transform: scale(0);
  box-shadow: 0 2px 6px 1px rgba(0,0,0,0.20);
  @include transition();
  @include media-breakpoint-up(sm) {
    display: block;
  }

  i {
    position: relative;
    left: 0.75em;
    top: 0.5em;
    opacity: 0.5;
    color: $body-color;
    backface-visibility: hidden;
  }

  &.show {
    transform: scale(1);
  }

  &:hover {
    opacity: 1;
    box-shadow: 0 3px 6px 1px rgba(0,0,0,0.29);

    i {
      opacity: 1;
      animation: arrow 2s ease-in-out infinite;
    }
  }
}