@import "../app";


.paper-search-form {
  position: relative;

  .form-control {
    padding-right: 2.5rem;
    width: 10rem;
    transition: width 0.3s;
    @include border-radius(10rem);

    &:valid {
      width: 16rem;
    }

    &:focus {
      width: 16rem;

      & ~ .btn {
        border-color: $input-focus-border-color;
      }
    }
  }

  .btn {
    position: absolute;
    padding: 0 0.625rem 0 0.5rem;
    top: 0;
    right: 0;
    height: 100%;
    border-color: $input-border-color;
    @include border-radius(0 10rem 10rem 0);

    i {
      vertical-align: 3%;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
