@import "../app";


.paper-table-wrapper {
  margin-left: #{-$card-spacer-x-sm};
  margin-right: #{-$card-spacer-x-sm};
  @include media-breakpoint-up(sm) {
    margin-left: #{-$card-spacer-x};
    margin-right: #{-$card-spacer-x};
  }

  th, td {
    &:first-child {
      padding-left: $card-spacer-x-sm;
      @include media-breakpoint-up(sm) {
        padding-left: $card-spacer-x;
      }
    }

    &:last-child {
      padding-right: $card-spacer-x-sm;
      @include media-breakpoint-up(sm) {
        padding-right: $card-spacer-x;
      }
    }
  }

  .form-control {
    height: auto;
    max-width: 140px;

    // копирование стилей form-control-sm
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $font-size-sm;
    line-height: $input-line-height-sm;
    @include border-radius($input-border-radius-sm);
  }

  .custom-select {
    min-width: 160px;

    // копирование стилей custom-select-sm
    padding: $custom-select-padding-y-sm ($custom-select-padding-x-sm + $custom-select-indicator-padding) $custom-select-padding-y-sm $custom-select-padding-x-sm;
    height: $custom-select-height-sm;
    font-size: $custom-select-font-size-sm;
  }

  .input-group {
    width: auto;
    max-width: 140px;
  }
}
