@import "../app";


#paper-tabs {
  padding: 0 0.5rem;
  margin: 0 -0.5rem;
  @include media-breakpoint-up(sm) {
    padding: 0 1rem;
    margin: 0 -1rem;
  }

  .nav-link {
    margin-right: 2px;
    background-color: #eee;
    border-color: $nav-tabs-border-color;
    @include media-breakpoint-down(xs) {
      padding-left: $card-spacer-x-sm;
      padding-right: $card-spacer-x-sm;
    }

    &.tab-invalid {
      color: $form-feedback-invalid-color;
      border-color: darken(theme-color-level('danger', -9), 7%);
      border-bottom-color: $gray-300;
    }

    &.active {
      color: $nav-tabs-link-active-color;
      background-color: $body-bg;
      border-bottom-color: $body-bg;
    }
  }
}
