.table {
  tr {
    background: inherit;
  }

  tr:first-child td,
  tr:first-child th {
    border-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  thead th {
    border-top: 0;
  }

  tbody th {
    font-weight: normal;

    a {
      display: inline-block;
    }
  }
}

.table-middle {
  td, th {
    vertical-align: middle;
  }
}
