@import "../app";


.paper-table-wrapper {
  margin-left: #{-$card-spacer-x-sm};
  margin-right: #{-$card-spacer-x-sm};
  font-size: 16px;
  @include media-breakpoint-up(sm) {
    margin-left: #{-$card-spacer-x};
    margin-right: #{-$card-spacer-x};
  }

  th, td {
    &:first-child {
      padding-left: $card-spacer-x-sm;
      @include media-breakpoint-up(sm) {
        padding-left: $card-spacer-x;
      }
    }

    &:last-child {
      padding-right: $card-spacer-x-sm;
      @include media-breakpoint-up(sm) {
        padding-right: $card-spacer-x;
      }
    }
  }

  .form-control {
    height: auto;
    max-width: 140px;

    // копирование стилей form-control-sm
    padding: 0.125rem $input-padding-x-sm;
    line-height: $input-line-height-sm;
    @include border-radius($input-border-radius-sm);
  }

  .vSelect,
  .select2 {
    min-width: 160px;
  }

  .input-group {
    width: auto;
    max-width: 140px;
  }
}
