@import "css/abstracts/bootstrap";

.paper-error-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &.invalid-feedback {
    margin-top: $form-feedback-margin-top;
  }

  &.invalid-tooltip {
    padding: $form-feedback-tooltip-padding-y $form-feedback-tooltip-padding-x;
    margin-top: 2px;
  }

  &:empty,
  &:not(:has(li)) {
    display: none;
  }

  li:before {
    content: "• ";
  }
}
