{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} passwordform-page{% endblock %}


{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">
    {% trans 'Password reset confirmation' %}
  </li>
{% endblock breadcrumb_items %}


{% block before_content %}
  <h1 class="paper-title">
    {{ title }}
  </h1>
{% endblock %}


{% block content %}
  {% if validlink %}
    <form id="passwordform" method="post" novalidate>
      {% csrf_token %}

      {% block form_top %}{% endblock %}

      <fieldset class="paper-form-card card card-info">
        <div class="card-header">
          <small class="card-subtitle">
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
          </small>
        </div>
        <div class="card-body">
          {% include 'paper_admin/includes/admin_field.html' with field=form.new_password1 %}
          {% include 'paper_admin/includes/admin_field.html' with field=form.new_password2 %}
        </div>
      </fieldset>

      <button type="submit" class="btn btn-success">
        {% trans 'Change my password' %}
      </button>
    </form>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}
