{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} passwordform-page{% endblock %}


{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">
    {% trans 'Password reset' %}
  </li>
{% endblock breadcrumb_items %}


{% block before_content %}
  <h1 class="paper-title">
    {{ title }}
  </h1>
{% endblock %}


{% block content %}
  <form id="passwordform" method="post" novalidate>
    {% csrf_token %}

    {% block form_top %}{% endblock %}

    <fieldset class="paper-form-card card card-info">
      <div class="card-header">
        <small class="card-subtitle">
          {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
        </small>
      </div>
      <div class="card-body">
        {% include 'paper_admin/includes/admin_field.html' with field=form.email %}
      </div>
    </fieldset>

    <button type="submit" class="btn btn-success">
      {% trans 'Reset my password' %}
    </button>
  </form>
{% endblock %}
