{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} passwordform-page{% endblock %}


{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">
    {% trans 'Password change' %}
  </li>
{% endblock breadcrumb_items %}


{% block before_content %}
  <h1 class="paper-title">
    {{ title }}
  </h1>
{% endblock %}


{% block content %}
  <p>{% trans 'Your password was changed.' %}</p>

  <div class="alert alert-success">
    <a href="{% url 'admin:index' %}" class="btn btn-sm btn-outline-info">
      {% trans 'Back to dashboard' %}
    </a>
  </div>
{% endblock %}
