{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} passwordform-page{% endblock %}


{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">
    {% trans 'Password reset' %}
  </li>
{% endblock breadcrumb_items %}


{% block before_content %}
  <h1 class="paper-title">
    {{ title }}
  </h1>
{% endblock %}


{% block content %}
  <div class="alert alert-success">
    {% trans "Your password has been set. You may go ahead and log in now." %}
  </div>

  <p>
    <a href="{% url 'admin:index' %}" class="btn btn-info">
      {% trans 'Log in' %}
    </a>
  </p>
{% endblock %}
