{% load i18n %}

<div class="actions">
  {% for field in action_form %}
    <div class="action-{{ field.name }}">
      {{ field }}
    </div>
  {% endfor %}

  <div class="action-btn-box">
    <button type="submit" class="btn btn-info ml-1" name="index"
            title="{% trans "Run the selected action" %}"
            value="{{ action_index|default:0 }}">
      {% trans "Go" %}
    </button>
  </div>

  <div class="paper-action-notes d-md-inline">
    {% if actions_selection_counter %}
      <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">
        {{ selection_note }}
      </span>

      {% if cl.result_count != cl.result_list|length %}
        <span class="action-all" hidden>
          {{ selection_note_all }}
        </span>

        <span class="action-question" hidden>
          <a href="#"
             title="{% trans "Click here to select the objects across all pages" %}">
            {% blocktrans with cl.result_count as total_count %}
              Select all {{ total_count }} {{ module_name }}
            {% endblocktrans %}
          </a>
        </span>

        <span class="action-clear" hidden>
          <a href="#">{% trans "Clear selection" %}</a>
        </span>
      {% endif %}
    {% endif %}
  </div>
</div>
