{% extends "admin/base_site.html" %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}


{% block breadcrumb_items %}
  {% for app in app_list %}
    <li class="breadcrumb-item active" aria-current="page">
      <span>{{ app.name }}</span>
    </li>
  {% endfor %}
{% endblock %}


{% block content_title %}
  <h1>
    {% for app in app_list %}
      {{ app.name }}
    {% endfor %}
  </h1>
{% endblock %}


{% block content %}
  {% if app_list %}
    {% for app in app_list %}
      <table class="paper-table table table-hover">
        <thead>
        <tr>
          <th scope="col">{{ _("content type")|capfirst }}</th>
          <th scope="col">{{ _("Add") }}</th>
          <th scope="col">{{ _("Change") }}</th>
        </tr>
        </thead>

        <tbody>
        {% for model in app.models %}
          <tr>
            {% if model.admin_url %}
              <td>
                <a href="{{ model.admin_url }}">
                  {{ model.name }}
                </a>
              </td>
            {% else %}
              <td>
                {{ model.name }}
              </td>
            {% endif %}

            {% if model.add_url %}
              <td>
                <a href="{{ model.add_url }}" class="btn btn-sm btn-success">
                  <i class="bi-plus-lg"></i><span>{{ _("Add") }}</span>
                </a>
              </td>
            {% else %}
              <td>
                <small class="text-muted">{{ _("Not available") }}</small>
              </td>
            {% endif %}

            {% if model.admin_url %}
              <td>
                <a href="{{ model.admin_url }}" class="btn btn-sm btn-success">
                  {% if model.view_only %}
                    <i class="bi-list-ul"></i><span>{{ _("View") }}</span>
                  {% else %}
                    <i class="bi-list-ul"></i><span>{{ _("Change") }}</span>
                  {% endif %}
                </a>
              </td>
            {% else %}
              <td>
                <small class="text-muted">{{ _("Not available") }}</small>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% else %}
    <p class="paper-message paper-message--warning">
      {{ _("You don’t have permission to view or edit anything.") }}
    </p>
  {% endif %}
{% endblock %}
