@import "../app";


.vDatePicker.flatpickr-input {
  // FIX: из-за altInput в flatpickr, поле не удовлетворяет условию :first-child в Bootstrap
  + .vDatePicker {
    @include border-left-radius($input-border-radius);
  }

  &:not([readonly]) + .vDatePicker {
    background-color: $input-bg;
  }
}

.vTimePicker.flatpickr-input {
  // FIX: flatpickr делает поле readonly
  background-color: $input-bg;
}


.flatpickr-calendar {
  margin-top: 2px;
  width: 280px;

  .flatpickr-months {
    background-color: $info;
    border-radius: 5px 5px 0 0;

    .flatpickr-prev-month,
    .flatpickr-next-month {
      line-height: 1;

      svg {
        fill: $white;
        transition: fill 0.2s;
      }

      &:hover svg {
        fill: rgba($white, 0.5);
      }
    }
  }

  .flatpickr-weekdays {
    background-color: $info;
  }

  &:not(.noCalendar).arrowTop:after {
    border-bottom-color: $info;
  }

  .flatpickr-month,
  .flatpickr-weekday {
    color: $white;
  }

  .flatpickr-day {
    max-width: 36px;
    height: 36px;
    line-height: 35px;
  }

  .flatpickr-days {
    width: 100%;
  }

  .dayContainer {
    padding: 10px;
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  &.noCalendar.hasTime {
    width: 160px;
    box-shadow: 0 0 0 1px #d0d0d0;

    &.arrowTop:before {
      border-bottom-color: #d0d0d0;
    }

    .flatpickr-time {
      border-top: 0;
    }

    .numInputWrapper {
      width: 50%;
    }

    .flatpickr-time-separator {
      margin-left: -1%;
      margin-right: -1%;
      position: relative;
      z-index: 1;
    }

    .flatpickr-hour {
      border-radius: 5px 0 0 5px;
    }

    .flatpickr-minute {
      border-radius: 0 5px 5px 0;
    }
  }
}

.flatpickr-current-month {
  font-size: 125%;

  .flatpickr-monthDropdown-months {
    & + .numInputWrapper {
      margin-left: 4px;
    }

    .flatpickr-monthDropdown-month {
      font-weight: 300;
      background-color: $info;
    }
  }
}
