@import "css/abstracts/bootstrap";

$paper-table-bg: #fff !default;
$paper-table-border-width: 1px !default;
$paper-table-border-color: $card-border-color !default;
$paper-table-box-shadow: 0 8px 12px rgb(0 0 0 / 2%) !default;

$paper-table-row-selected-bg: theme-color-level("warning", -11) !default;

$paper-table-cell-padding-y: 0.5rem !default;
$paper-table-cell-padding-x: 0.5rem !default;

$paper-table-head-padding-y: 0.5rem !default;
$paper-table-head-padding-x: 0.5rem !default;
$paper-table-head-color: $gray-800 !default;
$paper-table-head-font-size: 0.75rem !default;
$paper-table-head-font-weight: 500 !default;
$paper-table-head-text-transform: uppercase !default;
$paper-table-head-bg: null !default;
$paper-table-head-border-width: 1px !default;
$paper-table-head-border-color: #dadada !default;

$paper-table-foot-border-width: 1px !default;
$paper-table-foot-border-color: #dadada !default;

$paper-table-sort-btn-color: $gray-600 !default;
$paper-table-sort-btn-border-radius: 0.125rem !default;

$paper-table-sort-handler-width: 1.25rem !default;
$paper-table-sort-handler-color: $gray-400 !default;
$paper-table-sort-handler-hover-color: $gray-800 !default;
$paper-table-sort-handler-disabled-color: $gray-200 !default;
$paper-table-sortable-ghost-bg: theme-color-level("warning", -10) !default;
