@import "css/env";

/*
  Сортировка столбцов
 */
.sortoptions-btn {
  position: relative;
  padding: 0 .25rem;
  margin-top: -0.25rem;
  margin-left: .125rem;
  color: $gray-600;
  line-height: 1;
  border-radius: $btn-border-radius-sm;

  &.has-prior {
    padding-right: 1rem;
  }

  &:hover {
    background-color: darken($light, 7.5%);
  }

  .sortpriority {
    position: absolute;
    top: 50%;
    left: 1em;
    font-size: .75em;
    transform: translate(0, -50%);
  }
}


/*
  Сортировка строк
 */
.column-_sortable_field {
  width: 0.01%;
}

.sort-handler {
  display: block;
  padding: .125rem;
  opacity: 0.25;
  text-align: center;
  cursor: not-allowed;
  vertical-align: middle;
  border-radius: $border-radius;
  background: darken($light, 3%);
  user-select: none;

  i {
    vertical-align: 1px;
  }

  @at-root .table-sortable-allowed tr:not(.disabled) & {
    cursor: move;
    opacity: 1;

    &:hover {
      background-color: darken($light, 5%);
    }
  }
}

.table-sortable-allowed {
  tbody tr {
    transition: opacity 0.1s, background-color 0.3s;

    &.sortable-ghost {
      opacity: 1;
      background-color: theme-color-level('warning', -9);
    }

    &.highlight {
      transition: background-color 0s 0s;
      background-color: theme-color-level('info', -10);
    }

    &.disabled {
      opacity: 0.25;
    }
  }
}

/*
  Чекбоксы
 */
.action-checkbox-column {
  width: 1%;
}
