@import "css/env";

@keyframes form_appear {
  0% {
    top: -5vh;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.login {
  background: url("img/login_bg.jpg") center bottom;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
  }

  .paper-page {
    margin-left: 0 !important;
  }
}

.login-card {
  position: relative;
  width: 320px;
  max-width: 100%;
  border-radius: $border-radius;
  animation: form_appear 0.8s backwards 0.4s;
}

.password-reset-link {
  a {
    color: inherit;
  }
}
