@import "css/abstracts/bootstrap";

$paper-search-field-padding: 0 2.5rem 0 0.75rem !default;
$paper-search-field-width: 10rem !default;

$paper-search-button-border-color: $input-border-color !default;
