@import "css/env";

.paper-formset {
  &:not(:first-child) {
    margin-top: $paper-formset-gutter-width;
  }

  &__forms {

  }

  &__form {
    overflow: hidden;
  }

  // название stacked-формы
  &__form-caption {

  }

  // кнопка добавления формы
  &__add-form {

  }


  &--stacked {
    .card-header-tools {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .card-title {
      margin: 0;
      padding-right: 1.6rem;
    }
  }

  &--tabular {
    .paper-formset__form--invalid {
      background-color: $paper-formset-form-invalid-bg;
    }

    thead th {
      padding-bottom: 0.5rem;
    }
  }
}
