@import "css/env";

.paper-date-range-filter {
  button.input-group-text {
    color: $paper-widget-addon-color;
    background-color: $paper-widget-addon-bg;

    &:hover {
      color: $paper-widget-addon-hover-color;
      background-color: $paper-widget-addon-hover-bg;
    }

    &:disabled {
      color: $text-muted;
      background-color: $input-group-addon-bg;
    }
  }
}
