@import "css/abstracts/bootstrap";
@import "css/abstracts/functions/sum";

.delete-inline {
  position: relative;

  &__icon {
    position: absolute;
    top: sum($custom-control-indicator-size, -14px);
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .custom-control {
    position: static;
  }

  .custom-control-label {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s;

    &:before,
    &:after {
      background: transparent;
      border-color: transparent;
      transition: none;
      transform: scale(0.8181);
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    cursor: pointer;

    &:focus {
      ~ .custom-control-label:before {
        box-shadow: none;
        border-color: transparent !important;
      }
    }

    &:active {
      ~ .custom-control-label:before {
        background: transparent;
        border-color: transparent !important;
      }
    }

    &:checked {
      ~ .custom-control-label {
        opacity: 1;

        &::before {
          color: $custom-control-indicator-bg;
          border-color: theme-color("danger");
          background-color: theme-color("danger");
        }

        &:after {
          background-image: escape-svg($custom-checkbox-indicator-icon-checked);
        }
      }

      ~ .delete-inline__icon {
        opacity: 0;
      }
    }
  }
}
