@import "css/env";

.delete-inline {
  &__icon {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .custom-control-label {
    opacity: 0;
    transition: opacity 0.2s;

    &:before,
    &:after {
      background: transparent;
      border-color: transparent;
      transition: none;
      transform: scale(0.8181);
    }
  }

  input {
    position: absolute;
    top: -4px;
    left: -4px;
    width: $btn-square-size-sm;
    height: $btn-square-size-sm;
    z-index: -1;
    opacity: 0;
    cursor: pointer;

    &:focus {
      ~ .custom-control-label:before {
        box-shadow: none;
        border-color: transparent !important;
      }
    }

    &:active {
      ~ .custom-control-label:before {
        background: transparent;
        border-color: transparent !important;
      }
    }

    &:checked {
      ~ .custom-control-label {
        opacity: 1;

        &::before {
          color: #fff;
          border-color: theme-color("danger");
          background-color: theme-color("danger");
        }

        &:after {
          background-image: escape-svg($custom-checkbox-indicator-icon-checked);
        }
      }

      ~ .delete-inline__icon {
        opacity: 0;
      }
    }
  }
}
