@import "css/env";

body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

textarea {
  resize: none;
}


.container-fluid {
  @include media-breakpoint-up(sm) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}


.paper-page {
  @include transition(margin-left $paper-sidebar-transition-duration);
  @include media-breakpoint-up(xl) {
    margin-left: $paper-sidebar-width;
  }
}

.paper-title {
  h1 {
    @extend .h2;
    @extend .mb-0;
  }
}

.paper-content-right {
  display: none;
  max-width: $toolbar-max-width;
  min-width: $toolbar-min-width;
  @include media-breakpoint-up(lg) {
    display: block;
  }

  &:empty {
    display: none;
  }
}