@import "css/app";


body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

#paper-page {
  min-height: 100vh;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

#paper-content {
  display: flex;
  min-height: inherit;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    flex-basis: 0;
  }

  .container-fluid {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    @include media-breakpoint-up(sm) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
}

#paper-main {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

.paper-title {
  @extend .h2;
  margin-top: .3125rem;
  margin-bottom: 1.375rem;
}

.paper-content-right {
  display: none;
  max-width: $toolbar-max-width;
  min-width: $toolbar-min-width;
  @include media-breakpoint-up(lg) {
    display: block;
  }

  &:empty {
    display: none;
  }
}